<header>
  <h1>Create a game</h1>
</header>
<label for="playerOne">Select player one</label><br>
<select name="playerOne" ng-model="game.playerOne" ng-options="player.name for player in game.players">
  <!-- <option value="{{player.name}}" ng-repeat="player in game.players | filter:game.playerTwo">{{player.name}}</option> -->
</select><br>
<label for="playerTwo">Select player two</label><br>
<select name="playerTwo" ng-model="game.playerTwo" ng-options="player.name for player in game.players">
  <!-- <option value="{{player.name}}" ng-repeat="player in game.players | filter:game.playerOne">{{player.name}}</option> -->
</select><br>
<button ng-click="game.newGame()">New game</button>