<div class="teams">
  <div class="teamDetail red">
    <team-detail current="current.teamRed"></team-detail>
    <a href
      ng-click="match.finish(current.teamRed)"
      ng-show="!current.endDate">WIN!</a>

  </div>
   vs. 
  <div class="teamDetail blue">
    <team-detail current="current.teamBlue"></team-detail>
    <a href
      ng-click="match.finish(current.teamBlue)"
      ng-show="!current.endDate">WIN!</a>

  </div>
</div>
<div class="matchData">
  <div class="startDate">
  started at {{current.startDate | ISODate}}
  </div>
  <div ng-show="current.endDate" class="endDate">
    finished at {{current.endDate | ISODate}}
  </div>
</div>